{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style>
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.label-info {
    font-size: 10px;
}
ul{
    　list-style-type:none;
}
ul li{
    display:inline;
}
#tag-in{
    background-color:transparent;
    {#padding-top:0;#}
    {#padding-bottom:0;#}
    border:0;
    width: 30px;
}

</style>
{% endblock %}


{% block content %}
    <br/>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3">
            {% if book.content_type %}
                <img  src="{% url 'novels:book_cover' book.id %}"
                    onclick="document.getElementById('overlay').style.display = 'block';" width="100%">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ book.title }}</h1>
            <p>({{ book.updated_at|naturaltime }})
            {% if book.owner == user %}
                <a href="{% url 'novels:book_update' book.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'novels:book_delete' book.id %}"><i class="fa fa-trash"></i></a>
            {% endif %}
            </p>
            <br/>
            <p>Category: {{ book.category }}</p>
            <br/>
            <p>About: {{ book.description }}</p>
            <br/>
            <p>get flowers: {{ book.flowers }}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Send flower
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send your flower</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <form action="" method="post" enctype="multipart/form-data" id="flower_form">
                          <div class="modal-body">
                              {% csrf_token %}
                              <input type="text" name="number" class="form-control" placeholder="flower number"/>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
            </p>
            <br/>
            <div style="display:inline">
                <span id="tag_list" style="float:left">
                Tags:
                    {% for tag in tags %}
                        <span class="badge badge-warning tags"><a href="{% url 'novels:tag_list' tag.name%}">{{ tag.name }}</a></span>
                    {% endfor %}
                <span id="add_label" class="badge badge-warning"><i class="fa fa-plus" aria-hidden="true"></i></span>
                </span>

            </div>
        </div>
      </div>
    </div>
    <br/>

    <p>table of contents:</p>
    <ul>
        {% for chapter in chapters %}
            <li>
                <a href="{% url 'novels:chapter_detail' chapter.id %}">{{ forloop.counter }}: {{ chapter.name }}   </a>
            </li>
        {% endfor %}
    </ul>

     {% if book.owner == user %}
        {#<input id="tag-in" type="text" name="tag">#}
        <p>
        <a href="{% url 'novels:chapter_create' book.id%}">Add a chapter</a>
        </p>
    {% endif %}

    {% if user.is_authenticated %}
        <br clear="all"/>
        <p>
        {% load crispy_forms_tags %}
            <form method="post" action="{% url 'novels:book_comment_create' book.id %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" value="Submit">
            </form>
        </p>
    {% endif %}

    {% for comment in comments %}
    <p> {{ comment.text }}
    ({{ comment.updated_at|naturaltime }})
    {% if user == comment.owner %}
    <a href="{% url 'novels:book_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
    </p>
    {% endfor %}
    <p>
    <a href="{% url 'novels:all' %}">All books</a>
    </p>

    <script type="text/javascript">

        $("#tag_list").on('mouseenter','.tags',function(){
            $(this).append('<a id="del" href="#" onclick = "delete_tag($(this).parent())"><i class="fa fa-times" aria-hidden="true"></i></a>');
        }
        );
        $("#tag_list").on('mouseleave','.tags',function(){
                $(".badge #del").remove();
            }
        );
        $("#add_label").on('mouseenter',function (){
            $(this).html('<input type="text" id="tag-in">');
            $("#tag-in").keydown(function(event){
                if(event.keyCode ==13){
                    tag_temp = $("#tag-in").val();
                     $.ajax({
                         url: '{% url 'novels:tag' %}',
                         type: 'post',
                         data: {pk:{{ book.id }}, tag:tag_temp,
                             csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()},
                         success: function (data){
                             console.log(data);
                             if(!data['tag_exist']){
                                 $('#add_label').before('<span class="badge badge-warning tags"><a href="/tag/'+tag_temp+'">'+tag_temp+'</a></span>\
                                     ');
                             }
                             $("#tag-in").val("");
                         }
                    });
                };
            });
        });
        $("#add_label").on('mouseleave',function(){
                $(this).html('<i class="fa fa-plus" aria-hidden="true"></i>');
        });
        function delete_tag(tag){
            console.log(tag.text());
            $.ajax({
                         url: '{% url 'novels:tag_delete' %}',
                         type: 'post',
                         data: {pk:{{ book.id }}, tag:tag.text(),
                             csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()},
                         success: function (data){
                             console.log(data);
                             tag.remove()
                         }
                    });

            return false;
        }
    </script>
{% endblock %}
