{% extends "base_menu.html" %}
{% load humanize %}
{% block content %}

<h1>{{ chapter.name }}</h1>

<span style="float: right;">
    ({{ chapter.updated_at|naturaltime }})
    {% if chapter.book.owner == user %}
        <a href="{% url 'novels:chapter_update' chapter.id %}"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'novels:chapter_delete' chapter.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
</span>

<p>
{{ chapter.text }}
</p>

<p>
    <a href="{% url 'novels:book_detail' chapter.book.id%}">Go back</a>
</p>

<p>
    <a href="{% url 'novels:all' %}">All books</a>
</p>
{% endblock %}
